In [1]:
import pandas as pd
import re

In [2]:
f = open('/content/YouTubeTrailerComments.txt', 'rb')

In [3]:
Movieids = []
descriptors = []
df = pd.DataFrame(columns = ['MovieID', 'View Count', 'Likes Count', 'Dislikes Count', 'Forward/Share Count', 'Commnets Count'])

In [4]:
dfrow = 0
info_row = []
while True:
        line = f.readline().decode('ISO-8859-1')
        if not line:
            break
        if 'MovieID::::' in line:
          if len(info_row) == 1 and len(df) > 2:
            falses = [False, False, False, False, False]
            info_row.extend(falses)
            df.loc[len(df)] = info_row
            info_row = []
          id = re.search(r'\d+', line)
          info_row.append(id.group())  
        if re.match(r'\d+\s\d+\s\d+\s\d+\s\d+', line):
          row = line.split()
          info_row.extend(row)
          df.loc[len(df)] = info_row
          info_row = []

In [5]:
df

,MovieID,View Count,Likes Count,Dislikes Count,Forward/Share Count,Commnets Count
0,1,128238,170,7,0,7
1,2,155561,135,14,0,74
2,3,2532,7,2,0,1
3,4,6827,9,1,0,0
4,5,330807,374,16,0,121
...,...,...,...,...,...,...
995,996,252661,1080,32,0,111
996,997,5887,19,2,0,0
997,998,5755,10,1,0,0
998,999,6635,19,1,0,0
999,1000,27204,10,4,0,2